body {
    position: relative;
    height: 500px;
    margin-top: 50px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    /*background-color: #35353f;*/
    background: url("assets/bg.jpg");
    background-position: center;
    background-size: cover;
}

button {
    margin-bottom: 10px;
    height: 50px;
    width: 250px;
    background-color: #aa00ff;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #ff00aa;
    color: white;
}

.play {
    position: relative;
    bottom: 4%;
}